[submodule "traverse"]
	path = traverse
	url = https://github.com/hawkw/traverse.git
[submodule "cs440s2014-share"]
	path = cs440s2014-share
	url = git@bitbucket.org:gkapfham/cs440s2014-share.git
[submodule "remote-sublime"]
	path = remote-sublime
	url = git@github.com:TeamRemote/remote-sublime.git
[submodule "remote-doc"]
	path = remote-doc
	url = git@github.com:TeamRemote/remote-doc.git
[submodule "FinalProject/remote-doc"]
	path = FinalProject/remote-doc
	url = git@github.com:TeamRemote/remote-doc.git
[submodule "FinalProject/remote-sublime"]
	path = FinalProject/remote-sublime
	url = git@github.com:TeamRemote/remote-sublime.git
[submodule "notes"]
	path = notes
	url = https://gist.github.com/48cfb5994db6f4378dcd.git
